.sidenav-container {
  margin-top: 10px;
}

.sidenav {
  padding: 20px;
  width: 250px;
  height: 80vh;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 8px;
}

.main-content {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.sidenav button {
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
  cursor: pointer;
}

.sidenav button:hover {
  background-color: #777;
}

.dropdown-container {
  margin-top: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-option {
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 5px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.filter-option:hover {
  background-color: #ddd;
}
