
.sidebar-container {
  width: 150px; 
  background-color: #f8f9fa; 
  padding: 1rem; 
  position: fixed; 
  height: 100%; 
  overflow-y: auto; 
}

.p-button-text {
  width: 100%;
  text-align: left;
}

.dropdown-container {
  margin: 10px 0;
}
