/* Sidenav.css */

.p-sidebar {
    width: 250px;
  }
  
  .p-sidebar h3 {
    color: #007ad9;
    margin-bottom: 1rem;
  }
  
  .p-button-text {
    width: 100%;
    text-align: left;
  }
.dropdown-container {
  margin: 10px 0;
}

.p-dropdown {
  width: 100%;
}

  
